<a href="javascript:history.back()"><button type="button">Back</button></a>
<br>
<a href="/articles"><button type="button">All articles</button></a>

<form action="/articles" method="post">
  <p><input type="text" id="title" name="article[title]" placeholder="Article title"><br>
    <input type="textarea" id="content" name="article[content]" placeholder="Article content"></p>
  <p><input type="submit" id="submit" value="Submit"></p>
</form>
