<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/articles" method="post">
      <h1>New Article</h1>
      <p><label for="title">Title:</label></p>
      <input type="text" name="title" value="">
      <p><label for="content">Content:</label></p>
      <input type="text" name="content" value="" style="width: 400px;"><br>
      <br>
      <input type="submit" name="" value="Submit">
    </form>

  </body>
</html>
