<form action='/articles' method="POST">
  <label for="title">Title</label><br>
  <input id="title" type="text" name="title" /><br>
  <label for="content">Content</label><br>
  <input id="content" type="textarea" name="content"></textarea><br>
  <input type="submit">
</form>